<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>LinkedDoc would like to access to speech recognition for converting speech to text</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>LinkedDoc would like to access your Camera to Upload Upload profile picture.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>LinkedDoc would like to  access to your microphone for recording speech</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>LinkedDoc would like toh access your Gallery to Upload profile picture.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>LinkedDoc would like to access your location to search nearby doctors.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>LinkedDoc would like to access your location to search nearby doctors.</string>
</dict>
</plist>
