<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LinkedDoc.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B9E52CAE2B9ED4D600948E89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9E52CC72B9ED4D700948E89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9E52CD12B9ED4D700948E89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
